<div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li> <a class="has-arrow" href="/cooladmin" aria-expanded="false">
                    <i class="fas fa-tachometer-alt"></i>
                    <span class="nav-text">Dashboard</span>
                    </a>
                    </li>
                    <br>

                   <li>
                   <a class="has-arrow" href="/cooladmin/manage-posts" aria-expanded="false">
                   <i class="fas fa-file-alt"></i> <span class="nav-text">Manage Posts</span>
                   </a>
                   </li>
                   <br>

                   <li>
                   <a class="has-arrow" href="/cooladmin/categories" aria-expanded="false">
                   <i class="fas fa-list-alt"></i> <span class="nav-text">Categories</span>
                   </a>
                   </li>
                   <br>

                   <li>
                   <a class="has-arrow" href="/cooladmin/users" aria-expanded="false">
                   <i class="fas fa-users"></i> <span class="nav-text">Users</span>
                   </a>
                   </li>
                   <br>

                   <li>
                   <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                   <i class="fa fa-comments"></i>
                   <span class="nav-text">Comments</span>
                   </a>
                   </li>



                </ul>
            </div>


        </div>